  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-family: "Raleway", sans-serif
  }
  
  body,
  html {
      height: 100%;
      line-height: 1.8;
  }
  
  body {
      background-image: url("../images/others/bluegradient1.jpg");
  }
  /* Full height image header */
  
  .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("/w3images/mac.jpg");
      min-height: 100%;
  }
  
  .w3-bar .w3-button {
      padding: 16px;
  }
  
  div.gallery_wrap {
      float: left;
  }
  
  div.gallery {
      margin: 5px;
      border: 1px solid #ccc;
      /* float: left; */
      /* width: 180px; */
      width: 150px;
      transition: ease 0.3s all;
      /* z-index: 999; */
      display: inline-block;
      /* z-index: -1; */
  }
  
  div.gallery_wrap:hover {
      /* border: 1px solid #777; */
      transform: scale(1.2);
      box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);
      transition: ease 0.3s all;
      background-color: black;
      z-index: 999;
      position: relative;
  }
  
  .gallery_wrap:hover .gallery {
      border: none;
  }
  
  .gallery_wrap:hover .desc {
      display: inline-block;
      /* z-index: 999;
    position: relative; */
      /* float: right; */
  }
  
  div.gallery img {
      width: 100%;
      height: auto;
      filter: grayscale(50%);
      /* z-index: -1; */
      /* width: 40%;
    height: auto; */
  }
  
  div.desc {
      /* padding: 5px; */
      display: none;
      text-align: left;
      vertical-align: top;
      width: auto;
      max-width: 110px;
      /* background-color: black; */
      color: #F6C90E;
      font-size: smaller;
      z-index: 999;
      padding: 5px 10px 0 5px;
  }
  
  div.nowshowing {
      /* padding: 15px; */
      text-align: center;
      background-color: #F6C90E;
      /* filter: none; */
  }
  
  p.movie_title {
      font-size: larger;
      margin: 0;
      padding: 0 0 5px 0;
      line-height: 20px;
      font-weight: bold;
  }
  
  p.movie_info {
      font-size: x-small;
      margin: 0;
      padding: 0px 0 0px 0;
      line-height: 15px;
      font-weight: lighter;
      color: #C39F0B;
  }
  /* .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
} */
  
  .moviemiddle1 {
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
  }
  
  .moviemiddle2 {
      justify-content: center;
      display: flex;
      padding: 50px 0 20px 0;
  }
  
  .moviemiddle3 {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
  }
  
  .moviebox1 {
      width: 1000px;
      height: 49px;
      background-color: rgba(7, 21, 78, 0.623);
      color: whitesmoke;
      letter-spacing: 2.3px;
      font-size: 30px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: left;
  }
  
  .moviebox2 {
      width: 1000px;
      height: auto;
      background-color: rgba(7, 21, 78, 0.623);
      color: whitesmoke;
      text-align: left;
      padding: 20px 0 20px 20px;
  }
  
  .moviebox3 {
      width: 1000px;
      height: 500px;
      background-color: rgba(7, 21, 78, 0.623);
      color: whitesmoke;
      letter-spacing: 2.3px;
      font-size: 30px;
      text-align: left;
  }
  
  input {
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: groove;
      background-color: whitesmoke;
      outline: none;
      color: black;
      font-family: 'Arial Narrow';
  }
  /*--------------------------------------- addition from movies -----------------------------*/
  
  .booknow {
      background-color: black;
      color: #F6C90E;
      font-size: 16px;
      font-weight: bold;
      border: 0;
      border-radius: 50px;
      padding: 10px 20px;
      margin-top: 5px;
      cursor: pointer;
      justify-content: center;
  }
  
  .movie {
      width: 300px;
      margin: 1rem;
      border-radius: 5px;
      box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
      background-color: #F6C90E;
      position: relative;
      overflow: hidden;
  }
  
  .movie img {
      width: 100%;
  }
  
  .movie-info {
      color: #eee;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem 1rem;
      letter-spacing: 0.5px;
  }
  
  .movie-info h4 {
      margin-top: 0;
      font-weight: bolder;
      color: black;
  }
  
  .overview {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 1rem;
      max-height: 100%;
      transform: translateY(101%);
      transition: transform 0.3s ease-in;
  }
  
  .movie:hover .overview {
      transform: translateY(0)
  }
  /* -----------------------------------addition from cinema --------------------------------*/
  
  .locationsbox {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
  }
  
  .locations {
      width: 1000px;
      height: 49px;
      font-size: 20px;
  }
  
  figcaption {
      color: whitesmoke;
      font-family: Arial, sans-serif;
      padding: 20px 0 10px 0;
  }
  
  #imga:hover {
      opacity: 0.7;
  }
  
  #imgb:hover {
      opacity: 0.7;
  }
  
  #imgc:hover {
      opacity: 0.7;
  }
  
  #imgd:hover {
      opacity: 0.7;
  }
  
  #imge:hover {
      opacity: 0.7;
  }
  
  #imgf:hover {
      opacity: 0.7;
  }
  
  #imgg:hover {
      opacity: 0.7;
  }
  
  #imgh:hover {
      opacity: 0.7;
  }
  /* The Modal (background) */
  
  .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.9);
      /* Black w/ opacity */
  }
  /* Modal Content (image) */
  
  .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
  }
  /* Caption of Modal Image */
  
  #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: whitesmoke;
      padding: 10px 0;
      height: 150px;
  }
  /* Add Animation */
  
  .modal-content,
  #caption {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
      from {
          -webkit-transform: scale(0)
      }
      to {
          -webkit-transform: scale(1)
      }
  }
  
  @keyframes zoom {
      from {
          transform: scale(0)
      }
      to {
          transform: scale(1)
      }
  }
  /* The Close Button */
  
  .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: whitesmoke;
      font-size: 60px;
      font-weight: bold;
      padding-top: 30px;
      transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
  }
  /* 100% Image Width on Smaller Screens */
  
  @media only screen and (max-width: 700px) {
      .modal-content {
          width: 100%;
      }
  }
  /* --------------------------------------check booking --------------------------------------------- */
  
  .checkbook {
      background-color: #F6C90E;
      color: black;
      font-size: 16px;
      font-weight: bold;
      border: 0;
      border-radius: 50px;
      padding: 10px 20px;
      margin-top: 5px;
      cursor: pointer;
      justify-content: center;
      transition: ease 0.9s all;
  }
  
  .checkbook:hover {
      transition: ease 0.3s all;
      transform: scale(1.1);
      font-weight: 900;
  }
  /* quickbookingpage-------------------------------------------------------------- */
  
  .quickbook {
      background-color: #F6C90E;
      color: black;
      font-size: 16px;
      font-weight: bold;
      border: 0;
      border-radius: 50px;
      padding: 10px 20px;
      margin-top: 5px;
      cursor: pointer;
      justify-content: center;
      transition: ease 0.9s all;
  }
  
  .quickbook:hover {
      transition: ease 0.3s all;
      transform: scale(1.1);
      font-weight: 900;
  }
  
  .movieimage {
      float: left;
      padding: 20px 50px 0 20px;
  }
  
  .movieimagemini {
      float: left;
      padding: 10px 0 0 10px;
  }
  
  .movieright {
      /* float: left; */
      padding: 20px 20px 0 0px;
      color: #b1b1b3;
      position: relative;
  }
  
  .movieboxtitle {
      color: #ccb543;
  }
  
  .name {
      color: #e3e3e3;
  }
  
  .movie-container {
      margin: 20px 0;
  }
  
  .container {
      perspective: 1000px;
      margin-bottom: 30px;
  }
  
  .seat {
      background-color: #444451;
      height: 20px;
      width: 21px;
      margin: 3px;
      border-radius: 5px;
      /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  }
  
  .ylabel {
      /* background-color: #444451; */
      height: 20px;
      width: 21px;
      margin: 3px;
      border-radius: 5px;
  }
  
  .xlabel {
      height: 20px;
      width: 21px;
      margin: 3px;
      border-radius: 5px;
      /* text-align: center; */
  }
  
  .xlabel:nth-of-type(1) {
      margin-left: 35px;
  }
  
  .xlabel:nth-of-type(3) {
      margin-left: 18px;
  }
  
  .xlabel:nth-last-of-type(2) {
      margin-left: 18px;
  }
  
  .xlabel:nth-last-of-type(1) {
      margin-left: -2px;
  }
  
  .seat.selected {
      /* background-color: #6feaf6; */
      background-color: #fcff43;
      box-shadow: 0 0px 5px white;
  }
  
  .seat.unavail {
      background-color: #000c33;
      /* border: 1px solid white; */
      box-shadow: 0 0px 3px #6feaf6;
      /* background: repeating-linear-gradient(-45deg, #000c33, #000c33 5px, white 6px, white 7px); */
  }
  
  .seat.occupied {
      /* background-color: #6feaf6; */
      background-color: #290000;
      box-shadow: 0 0px 5px #5C0000;
  }
  
  .seat:nth-of-type(3) {
      margin-right: 18px;
  }
  
  .seat:nth-last-of-type(2) {
      margin-left: 18px;
  }
  
  .seat:not(.unavail):hover {
      cursor: pointer;
      transform: scale(1.2);
  }
  
  .showcase .seat:not(.unavail):hover {
      cursor: default;
      transform: scale(1);
  }
  
  .showcase {
      background-color: rgba(0, 0, 0, 0.1);
      padding: 5px 10px;
      border-radius: 5px;
      color: #777;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
  }
  
  .showcase li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
  }
  
  .showcase li small {
      margin-left: 10px;
  }
  
  .row {
      display: flex;
  }
  
  .screen {
      background-color: #F6C90E;
      height: 80px;
      width: 85%;
      margin: 15px 0;
      margin-left: auto;
      margin-right: 25px;
      transform: rotateX(-45deg);
      box-shadow: 0 3px 10px #F6C90E;
      text-align: center;
      line-height: 5em;
      color: #000000;
  }
  
  p.text {
      margin: 5px 0;
  }
  
  p.text span {
      color: #6feaf6;
  }
  
  .topform {
      /* padding: 0 0 0px 10px; */
      margin: auto;
      /* padding-right: 50px; */
      text-align: center;
      padding: 20px;
  }
  
  select {
      height: 32.5px;
      line-height: 15px;
      /* height: 40px; */
      border-radius: 8px;
      outline: none;
      border: 2px solid #c4c4c4;
      /* padding: 0 30px; */
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact label {
      float: left;
      clear: left;
      display: block;
      width: 100px;
      text-align: right;
      padding-right: 30px;
      margin-top: 10px;
  }
  /* .contact input {
    margin-top: 10px;
    display: block;
  } */
  /* .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    max-width: 400px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
  } */
  
  .contact div input {
      /* width: 100%; */
      height: 40px;
      border-radius: 8px;
      outline: none;
      border: 2px solid #c4c4c4;
      padding: 0 30px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      /* display: block; */
  }
  
  .contact div {
      position: relative;
      margin-bottom: 15px;
  }
  
  .contact div i {
      position: absolute;
      padding: 10px;
  }
  /* .contact label {
    display: block;
    margin-bottom: 5px;
  } */
  
  .contact input:focus {
      border: 2px solid #F6C90E;
  }
  
  .success-icon,
  .failure-icon {
      right: 0;
      opacity: 0;
  }
  
  .failure-icon,
  .error {
      color: red;
  }
  
  .success-icon {
      color: green;
  }
  
  .error {
      font-size: 14.5px;
      margin-top: 5px;
      /* margin-right: 80px; */
      text-align: right;
      /* margin-left: 90px; */
  }
  
  .fa-user,
  .fa-phone,
  .fa-envelope {
      color: #CFA90B;
  }
  
  .ticketbox {
      margin-top: 20px;
      padding-left: 20px;
      background-color: rgb(255, 255, 255, 0.1);
      /* border: 2px solid #c4c4c4; */
      border-radius: 8px;
  }
  /* ---------------------------------------------booking confirmation------------------------- */
  
  .bookingconfirmation {
      font-family: Arial, sans-serif;
      letter-spacing: 2.3px;
      font-size: 25px;
      color: whitesmoke;
  }
  
  .footer {
      font-family: 'Arial Narrow', Arial, sans-serif;
      font-size: medium;
      padding-top: 50px;
      color: whitesmoke;
      background-color: black;
      height: 200px;
  }